<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <script src="/Cesium/Cesium.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <!-- Importing the FlightIndicators library -->
    <script src="/js/jquery.flightindicators.js"></script>
    <style>
        @import url(/Cesium/Widgets/widgets.css);
        html, body, #cesiumContainer {
            width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/commonCSS.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/flightindicators.css" />
</head>
<body>
    <span id="attitude"></span>

    <script type="text/javascript">
        // First static example
        var first_attitude = $.flightIndicator('#first_attitude', 'attitude', {size:350, roll:8, pitch:3, showBox : true});
    </script>
<br>
</body>
</html>